.tile {
    border: 1px solid #000;
    background-color: transparent;
    height: 0;

    &.hit {
        background-color: darkolivegreen;
    }

    &.miss {
        background-color: indianred;
    }

    &.sunk {
        background-color: cornflowerblue;
    }
}